*{
  margin:0px;
}

body{
  font-family: 'Gothic A1', sans-serif;
  max-width: 100%;
}

h1{
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  font-weight: 1;
  margin-bottom: 20px;
}
h2{
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 1;
}
h3{
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 1;
}
p{
  line-height:1.5em;
  font-size: 15px;
}

.header{
  background-image: url(squares.svg);
  height: 220px;
}
.header p{
  color: rgb(56, 56, 56);
  font-size: 3em;
  margin-left:10%;
  padding-top:80px;
  font-family: 'Anton', sans-serif;
}

.header a{
  text-decoration: none;
}
.header a:visited {
  color: rgb(41, 41, 41);
}

.nav-barDesktop{ 
  overflow: hidden;
  width: 100%;
  background-color: rgb(0,0,0);
  padding-top:0.7em;
  padding-bottom:0.7em;
  position:sticky;
  top:0;
}
.nav-barDesktop ul{
  list-style: none;
  margin-left: -50px;
}
.nav-barDesktop li {
  color: rgb(255,255,255);
  width: 25%;
  float: left;
  text-align: center;
}
.nav-barDesktop a:link, a:visited {
  text-decoration: none;
  color: rgb(255,255,255);
}
.nav-barMobile{
  display: none;
}


.talk-future{
  display:grid;
  grid-template-columns: 50% auto;
  background-color: rgba(255, 255, 255);
  margin-top: 2vw;
  margin-left: 10vw;
  margin-bottom: 2vw;
  margin-right:10%;
}
.talk-future p{
  line-height: 3em;
}
.future-column1{
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 16px;
}
.future-column1 a{
  color: black;
}
.talk-future button{
  background-color: white;
  padding: 10px;
  font-size: 15px;
  border: 1px solid black;
}

.talk-future > div {
  text-align: left;
}

.future-column2{
  text-align: left;
  padding-left: 0.5%;
  padding-bottom: 0.5%;
  height: 400px;
}
.future-column2 iframe{
  min-width: 100%;
  /* width: 80%; */
  height: 80%;
  box-shadow: -5px 5px;
}

.what-wannabe{
  padding: 65px 100px;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: black;
  color:white
}
.what-wannabe-wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}
.choose-way{
  overflow:hidden;
  padding: 40px 100px;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: white;
  color:black
}
.choose-way-wrapper{
  margin-left: -10px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  color: black;
  padding-left:1%;
  padding-bottom: 1%;
}
.choose-way-wrapper h2{
  border-bottom: 1px solid black;
}

.choose-way-boxes{
  border: 1px solid black;
  padding: 15px;
  box-shadow: -5px 5px;
}

.grid2 {
  display: grid;
  grid-template-columns: 50% auto;
}

.webmobile-wrapper{
  grid-gap: 20px;
  color: black;
}
.choose-way a{
  color:black;
}

.how-different{
  padding: 65px 100px;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: black;
  color:white
}
.how-different-wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}
.partners{
  padding: 40px 100px;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: white;
  color:black;
}
.partners img{
  margin-left:-40px;
  max-width:90vw;
}

footer{
  padding: 65px 100px;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: black;
  color:white
}
.footer-wrapper{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 20px;
}
footer p{
  font-size: 13px;
  line-height: 2.5em;
}
footer a{
  text-decoration: none;
  color: white;
}
.copyright{
  margin-top:50px;
}



/***** Responsive rules *****/

@media screen and (max-width: 800px) {
.header{
  height: 170px;
}

.header p{
  font-size: 2em;
  margin-left:10%;
  padding-top:60px;
}

.nav-barDesktop{
  display: none;
}

.nav-barMobile {
  height: 40px;
  position:sticky;
  top:0;
  display: inline-block;
  background-color: black;
  width:100%;
}

.nav-barMobile-content {
  display: none;
  position: absolute;
  left:0;
  z-index:1;
}

.nav-barMobile:hover .nav-barMobile-content {
  display: block;
  background-color: black;
  width:100vw;
  overflow: hidden;
}

.nav-barMobile span {   
  color:rgb(255, 255, 255);
  transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  display: block;
  transform: rotate(90deg);
  margin-top: 10px;
  width: fit-content;
}

.nav-barMobile:hover span {
  transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  display: inline-block;
  transform: rotate(180deg);
}

.talk-future{
  display:grid;
  grid-template-columns: 100%;
  margin-left: 3vw;
  grid-gap:15px;
}
.future-column2{
  padding-left: 1%;
}

.what-wannabe{
  padding-left: 3vw;
  padding-top: 50px;
  
}
.what-wannabe-wrapper{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

grid2{
  grid-template-columns: auto;
}
.webmobile-wrapper{
  grid-gap: 20px;
}

.how-different{
  margin-left: -80px;
}
.how-different-wrapper{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  width:90vw;
}
.choose-way{
  margin-left:-80px;
}
.choose-way-wrapper{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  width:93vw;
  margin-left:-8px;
}
.partners{
margin-left: -80px;
}
.partners img{
  margin-left: -12px;
  width:95vw;
}

}

@media screen and (max-width: 600px) {
  .footer-wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
  }
footer{
  margin-left: -80px;

}

}
